* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #fff;
  color: #000;
}

head.dark-theme {
  background-color: #121212;
  color: #fff;
}

.v13_2 {
  width: 100%;
  height: 1168px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v13_4 {
  width: 70px;
  color: rgba(141,35,37,1);
  position: absolute;
  top: 42px;
  left: 687px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v13_5 {
  width: 77px;
  color: rgba(141,35,37,1);
  position: absolute;
  top: 42px;
  left: 795px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v13_6 {
  width: 51px;
  color: rgba(141,35,37,1);
  position: absolute;
  top: 42px;
  left: 910px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v13_7 {
  width: 119px;
  color: rgba(141,35,37,1);
  position: absolute;
  top: 42px;
  left: 999px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v13_8 {
  width: 146px;
  color: rgba(141,35,37,1);
  position: absolute;
  top: 36px;
  left: 100px;
  font-family: MedievalSharp;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v28_390 {
  width: 20px;
  height: 19px;
  background: url("../images/v28_390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 1241px;
  overflow: hidden;
}
.v13_15 {
  width: 100%;
  height: 750px;
  background: url("../images/v13_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 1px;
  overflow: hidden;
}
.v13_16 {
  width: 100%;
  height: 100%;
  background: url("../images/v13_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.v13_17 {
  width: 296px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 388px;
  left: 100px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
}
.v13_18 {
  width: 205px;
  height: 42px;
  border: 2px solid rgba(141,35,37,1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 519px;
  left: 100px;
  text-align: center center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_19 {
  width: 185px;
  color: rgba(141,35,37,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v25_348 {
  width: 100%;
  height: 287px;
  background: rgba(141,35,37,1);
  opacity: 1;
  position: absolute;
  top: 851px;
  left: 0px;
  overflow: hidden;
}
.v25_349 {
  width: 274px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1123px;
  left: 853px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_350 {
  width: 159px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1123px;
  left: 653px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_351 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 961px;
  left: 1127px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_352 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 929px;
  left: 1127px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_353 {
  width: 83px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 892px;
  left: 1148px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_354 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 983px;
  left: 827px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_355 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 956px;
  left: 827px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_356 {
  width: 167px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 929px;
  left: 827px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_357 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 891px;
  left: 827px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_358 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 983px;
  left: 659px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_359 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 956px;
  left: 658px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_360 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 929px;
  left: 658px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_361 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 885px;
  left: 100px;
  font-family: MedievalSharp;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v25_362 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 891px;
  left: 658px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_363 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 992px;
  left: 1119px;
  border-radius: 50%;
}
.v25_364 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 992px;
  left: 1185px;
  border-radius: 50%;
}
.v25_365 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 992px;
  left: 1251px;
  border-radius: 50%;
}
.v25_366 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1003px;
  left: 1130px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v25_367 {
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v25_368 {
  width: 17px;
  height: 17px;
  background: url("../images/v25_368.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(141,35,37,1);
}
.v25_369 {
  width: 7px;
  height: 7px;
  background: url("../images/v25_369.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 1.5px solid rgba(141,35,37,1);
}
.v25_370 {
  width: 2px;
  height: 2px;
  background: rgba(141,35,37,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 12px;
}
.v25_371 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1003px;
  left: 1196px;
  overflow: hidden;
}
.v25_372 {
  width: 21px;
  height: 19px;
  background: rgba(141,35,37,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v25_373 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1003px;
  left: 1262px;
  overflow: hidden;
}
.v25_374 {
  width: 18px;
  height: 18px;
  background: rgba(141,35,37,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v25_375 {
  width: 9px;
  height: 8px;
  background: rgba(141,35,37,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
}
.v25_376 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1074px;
  left: 100px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_377 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1096px;
  left: 100px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v25_378 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1118px;
  left: 100px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_423 {
  width: 100%;
  height: 287px;
  background: rgba(141,35,37,1);
  opacity: 1;
  position: absolute;
  top: 881px;
  left: 0px;
  overflow: hidden;
}
.v28_424 {
  width: 274px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1123px;
  left: 853px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_425 {
  width: 159px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1123px;
  left: 653px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_426 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 961px;
  left: 1127px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_427 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 929px;
  left: 1127px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_428 {
  width: 83px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 892px;
  left: 1148px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_429 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 983px;
  left: 827px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_430 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 956px;
  left: 827px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_431 {
  width: 167px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 929px;
  left: 827px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_432 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 891px;
  left: 827px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_433 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 983px;
  left: 659px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_434 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 956px;
  left: 658px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_435 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 929px;
  left: 658px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_436 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 885px;
  left: 100px;
  font-family: MedievalSharp;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v28_437 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 891px;
  left: 658px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_438 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 992px;
  left: 1119px;
  border-radius: 50%;
}
.v28_439 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 992px;
  left: 1185px;
  border-radius: 50%;
}
.v28_440 {
  width: 46px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 992px;
  left: 1251px;
  border-radius: 50%;
}
.v28_451 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1074px;
  left: 100px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_452 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1096px;
  left: 100px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_453 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1118px;
  left: 100px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_387 {
  width: 24px;
  height: 24px;
  background: url("../images/v28_387.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 1276px;
  overflow: hidden;
}
.v28_385 {
  width: 28px;
  height: 30px;
  background: url("../images/v28_385.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1002px;
  left: 1128px;
  overflow: hidden;
}
.v28_384 {
  width: 22px;
  height: 20px;
  background: url("../images/v28_384.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1005px;
  left: 1197px;
  overflow: hidden;
}
.v28_386 {
  width: 24px;
  height: 24px;
  background: url("../images/v28_386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1003px;
  left: 1262px;
  overflow: hidden;
}


/* From Uiverse.io by MuhammadHasann */ 
.toggle-cont {
  top: 42px;
  left: 1370px;
  --primary: #54a8fc;
  --light: #d9d9d9;
  --dark: #121212;
  --gray: #414344;

  position: relative;
  z-index: 10;

  width: fit-content;
  height: 10px;

  border-radius: 9999px;
}

.toggle-cont .toggle-input {
  display: none;
}

.toggle-cont .toggle-label {
  --gap: 5px;
  --width: 20px;

  cursor: pointer;

  position: relative;
  display: inline-block;

  padding: 0.5rem;
  width: calc((var(--width) + var(--gap)) * 2);
  height: 100%;
  background-color: var(--dark);

  border: 1px solid #777777;
  border-bottom: 0;

  border-radius: 9999px;
  box-sizing: content-box;
  transition: all 0.3s ease-in-out;
}
.toggle-label::before {
  content: "";

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% + 1.5rem);
  height: calc(100% + 1.5rem);
  background-color: var(--gray);

  border: 1px solid #777777;
  border-bottom: 0;
  border-radius: 9999px;
  
  transition: all 0.3s ease-in-out;
}
.toggle-label::after {
  content: "";

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at 50% -100%,
    rgb(58, 155, 252) 0%,
    rgba(12, 12, 12, 1) 80%
  );

  border-radius: 9999px;
}

.toggle-cont .toggle-label .cont-icon {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: var(--width);
  height: 20px;
  background-image: radial-gradient(
    circle at 50% 0%,
    #666666 0%,
    var(--gray) 100%
  );

  border: 1px solid #aaaaaa;
  border-bottom: 0;
  border-radius: 9999px;
  box-shadow: inset 0 -0.15rem 0.15rem var(--primary),
    inset 0 0 0.5rem 0.75rem var(--second);

  transition: transform 0.3s ease-in-out;
}

.cont-icon {
  top: -4px;
  overflow: clip;
  position: relative;
}

.cont-icon .sparkle {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: calc(var(--width) * 1px);
  aspect-ratio: 1;
  background-color: var(--light);

  border-radius: 50%;
  transform-origin: 50% 50%;
  rotate: calc(1deg * var(--deg));
  transform: translate(-50%, -50%);
  animation: sparkle calc(100s / var(--duration)) linear
    calc(0s / var(--duration)) infinite;
}

@keyframes sparkle {
  to {
    width: calc(var(--width) * 0.5px);
    transform: translate(2000%, -50%);
  }
}

.cont-icon .icon {
  width: 1.1rem;
  fill: var(--light);
}

.toggle-cont:has(.toggle-input:checked) {
  --checked: true;
}

@container style(--checked: true) {
  .toggle-cont .toggle-label {
    background-color: #41434400;

    border: 1px solid #3d6970;
    border-bottom: 0;
  }

  .toggle-cont .toggle-label::before {
    box-shadow: 0 1rem 2.5rem -2rem #0080ff;
  }

  .toggle-cont .toggle-label .cont-icon {
    overflow: visible;

    background-image: radial-gradient(
      circle at 50% 0%,
      #045ab1 0%,
      var(--primary) 100%
    );

    border: 1px solid var(--primary);
    border-bottom: 0;

    transform: translateX(calc((var(--gap) * 2) + 100%)) rotate(-225deg);
  }

  .toggle-cont .toggle-label .cont-icon .sparkle {
    z-index: -10;

    width: calc(var(--width) * 1.5px);
    background-color: #acacac;

    animation: sparkle calc(100s / var(--duration)) linear
      calc(10s / var(--duration)) infinite;
  }

  @keyframes sparkle {
    to {
      width: calc(var(--width) * 1px);
      transform: translate(5000%, -50%);
    }
  }
}

